<div class="main-left-container" [ngClass]="{'closed': toggleMenu}">
  <div class="position-relative p-0">
    <div class="banner"></div>
    <div class="menu">
      <div (click)="toggleMenu = !toggleMenu" class="hamburger hamburger--spin js-hamburger"
        [ngClass]="{'is-active': !toggleMenu}">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="p-4 mb-2 title">
    <div class="col-12">
      <h4>Mapa Cloropletico</h4>
      <button mat-flat-button color="primary">PPA</button>
      <button mat-flat-button color="secondary" (click)="resetMap()">Center Map</button>
    </div>
  </div> -->
  <div class="container controls">
    <div class="row py-1">
      <div class="col-12">
        <form [formGroup]="mapForm" (ngSubmit)="onSubmit()">


          <div class="form-container mt-2">
            <h5 class="text-uppercase">Tipo de visualización</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Seleccione tipo de visualización</mat-label>
              <mat-select formControlName="viewType">
                <mat-option *ngFor="let view of viewTypes" [value]="view.value" [matTooltip]="view.name"
                  matTooltipPosition="right">
                  {{ view.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-container mt-2">
            <h5 class="text-uppercase">Seleccion una enfermedad</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>BUSCAR ENFERMEDAD</mat-label>
              <mat-select formControlName="disease">
                <mat-option *ngFor="let disease of diseases" [value]="disease.value">
                  {{ disease.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-container mt-2">
            <h5 class="text-uppercase">Seleccion un departamento:</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Buscar departamento</mat-label>
              <input type="text" placeholder="código o nombre" aria-label="Number" matInput formControlName="department"
                [matAutocomplete]="auto" matInput>
              <button *ngIf="mapForm.controls['department'].value !== ''" matSuffix mat-icon-button aria-label="Clear"
                (click)="resetDpto()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayDept.bind(this)"
                autoActiveFirstOption (optionSelected)="goToDpto($event.option.value?.code)">
                <mat-option *ngFor="let option of filteredDeptOptions | async" [value]="option">
                  <span class="w-code">{{ option.code }}</span><span>{{'- ' + option.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="form-container mt-2">
            <h5 class="text-uppercase">Seleccion un Municipio:</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Buscar Municipio</mat-label>
              <input type="text" placeholder="código o nombre" aria-label="Number" matInput
                formControlName="municipality" [matAutocomplete]="autoMun" matInput>
              <button *ngIf="mapForm.controls['municipality'].value !== ''" matSuffix mat-icon-button aria-label="Clear"
                (click)="resetMuni()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-autocomplete autoActiveFirstOption #autoMun="matAutocomplete" [displayWith]="displayMun.bind(this)"
                autoActiveFirstOption (optionSelected)="goToMuni($event)">
                <mat-option *ngFor="let option of filteredMunOptions | async" [value]="option">
                  <span class="w-mun-code">{{ option.code }}</span><span>{{'- ' + option.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="form-container mt-2">
            <h5 class="text-uppercase">Análisis de riesgo específico</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Seleccione analisis de riesgo</mat-label>
              <mat-select formControlName="risk" (selectionChange)="setRisk($event)">
                <mat-option *ngFor="let risk of risk" [value]="risk.value">
                  {{ risk.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          
          <div class="form-container mt-2">
            <h5 class="text-uppercase">Categorías del componente</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Seleccione analisis de riesgo</mat-label>
              <mat-select formControlName="riskComp" (selectionChange)="setRiskCat($event)">
                <mat-option *ngFor="let comp of filteredRiskCOMP" [value]="comp.value">
                  {{ comp.name }}
                </mat-option>
                <mat-option *ngIf="filteredRiskCOMP.length === 0" value="">
                  Seleccione un riesgo específico
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-container mt-2">
            <h5 class="text-uppercase">Riesgo de la categoría</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Seleccione analisis de riesgo</mat-label>
              <mat-select formControlName="riskCat" (selectionChange)="setRisk($event)">
                <mat-option *ngFor="let risk of filteredRiskCAT" [value]="risk.value">
                  {{ risk.name }}
                </mat-option>
                <mat-option value="">
                  Seleccione una categoría
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>