<div class="main-left-container" [ngClass]="{'closed': toggleMenu}">
  <div class="position-relative p-0">
    <div class="banner"></div>
    <div class="menu">
      <div (click)="toggleMenu = !toggleMenu" class="hamburger hamburger--spin js-hamburger"
        [ngClass]="{'is-active': !toggleMenu}">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="p-4 mb-2 title">
    <div class="col-12">
      <h4>Mapa Cloropletico</h4>
      <button mat-flat-button color="primary">ASF</button>
      <button mat-flat-button color="secondary" (click)="resetMap()">Center Map</button>
    </div>
  </div> -->
  <div class="container controls overflow-auto">
    <div class="row py-1">
      <div class="col-12">
        <form [formGroup]="mapForm" (ngSubmit)="onSubmit()">


          <div class="form-container mt-1">
            <h5 class="text-uppercase">Tipo de visualización</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Seleccione tipo de visualización</mat-label>
              <mat-select formControlName="viewType" (selectionChange)="setViewType($event.value)">
                <mat-option *ngFor="let view of viewTypes" [value]="view.value" [matTooltip]="view.name"
                  matTooltipPosition="right">
                  {{ view.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-container mt-1">
            <h5 class="text-uppercase">Seleccione una enfermedad</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>BUSCAR ENFERMEDAD</mat-label>
              <mat-select formControlName="disease" (selectionChange)="setDisease($event.value)">
                <mat-option *ngFor="let disease of diseases" [value]="disease.value">
                  {{ disease.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-container mt-1">
            <h5 class="text-uppercase">Seleccione un departamento:</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Buscar departamento</mat-label>
              <input type="text" placeholder="código o nombre" aria-label="Number" matInput formControlName="department"
                [matAutocomplete]="auto" matInput>
              <button *ngIf="mapForm.controls['department'].value !== ''" matSuffix mat-icon-button aria-label="Clear"
                (click)="resetDpto()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayDept.bind(this)"
                autoActiveFirstOption (optionSelected)="goToDpto($event.option.value?.code)">
                <mat-option *ngFor="let option of filteredDeptOptions | async" [value]="option">
                  <span class="w-code">{{ option.code }}</span><span>{{'- ' + option.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="form-container mt-1">
            <h5 class="text-uppercase">Seleccione un Municipio:</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Buscar Municipio</mat-label>
              <input type="text" placeholder="código o nombre" aria-label="Number" matInput
                formControlName="municipality" [matAutocomplete]="autoMun" matInput>
              <button *ngIf="mapForm.controls['municipality'].value !== ''" matSuffix mat-icon-button aria-label="Clear"
                (click)="resetMuni()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-autocomplete autoActiveFirstOption #autoMun="matAutocomplete" [displayWith]="displayMun.bind(this)"
                autoActiveFirstOption (optionSelected)="goToMuni($event)">
                <mat-option *ngFor="let option of filteredMunOptions | async" [value]="option">
                  <span class="w-mun-code">{{ option.code }}</span><span>{{'- ' + option.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="form-container mt-1">
            <h5 class="text-uppercase">Análisis de riesgo específico</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Seleccione analisis de riesgo</mat-label>
              <mat-select formControlName="risk" (selectionChange)="setRisk($event.value)">
                <mat-option *ngFor="let risk of risk" [value]="risk.value">
                  {{ risk.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-container mt-1">
            <h5 class="text-uppercase">Categorías del componente</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Seleccione un componente</mat-label>
              <mat-select formControlName="riskComp" (selectionChange)="setRiskComp($event)">
                <mat-option *ngIf="filteredRiskCOMP.length === 0" value="">
                  Seleccione un riesgo específico
                </mat-option>
                <mat-option *ngFor="let comp of filteredRiskCOMP" [value]="comp.value" matTooltipPosition="right"
                  [matTooltip]="comp.name">
                  {{ comp.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-container mt-1">
            <h5 class="text-uppercase">Riesgo de la categoría</h5>
            <mat-form-field class="full-width text-uppercase" appearance="fill">
              <mat-label>Seleccione categoría</mat-label>
              <mat-select formControlName="riskCat" (selectionChange)="setRiskFact($event)">
                <mat-option value="">
                  Seleccione una categoría
                </mat-option>
                <mat-option *ngFor="let fact of filteredRiskFACT" [value]="fact.value" matTooltipPosition="right"
                  [matTooltip]="fact.name">
                  {{ fact.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


        </form>
        <div class="text-center">
          <button class="mt-3" mat-flat-button color="primary" (click)="resetDpto();initForm()">Reiniciar Selección</button>
        </div>
      </div>
    </div>
    <div class="row py-1 mt-auto">
      <p class="tmp-footer">
        <img class="footer-logo" src="assets/data-lab-logo.svg" alt="DataLab UNAL"> - Colombia 2023 <br>
        <span class="mt-1">
          <a class="fake-link" (click)="openDialog(aboutModal)">Acerca de</a>
        </span>
        <br>
        <span class="mt-1">
          <a class="fake-link" (click)="goToLink('definiciones.pdf')">¿Como hacer la selección?</a>
        </span>
        <br>
        <span class="mt-1">
          <a class="fake-link" (click)="goToLink('interpretacion.pdf')">¿Como interpretar los valores?</a>
        </span>
        <br>
      </p>
    </div>
  </div>
</div>

<ng-template #aboutModal>
  <h1 mat-dialog-title class="text-center">Acerca de nosotros</h1>
  <div mat-dialog-content class="text-right mt-3">
    <span>Desarrollado para PorkColombia - FNP por:</span><br />
    <span>DataLab - Universidad Nacional de Colombia</span><br />
    <span>Agatec SAS</span><br />
    <span>Arwen Consulting SAS</span><br />
  </div>
  <hr />
  <div mat-dialog-actions class="mt-2">
    <button mat-button mat-dialog-close class="mx-auto">Aceptar</button>
  </div>
</ng-template>
