<div class="main-chart-container" [ngClass]="{'closed': toggleMenu}">
    <div class="arrow-container" (click)="toggleRightMenu()">
        <a class="arrow-icon" [ngClass]="{'open': !toggleMenu}">
            <span class="left-bar"></span>
            <span class="right-bar"></span>
        </a>
    </div>
    <div class="chart-container" [ngClass]="{'closed': toggleMenu}">
        <div class="px-1">
            <div class="row py-4 m-0 text-center data-container">
                <div class="col-12 mb-2">
                    <h2 class="big-title">Riesgo Específico</h2>
                    <ng-container *ngIf="!!currentRisk && currentRisk !== -1">
                        <h1 class="big-title-number">{{ currentRisk * 100 | number:'1.1-1' }}%</h1>
                    </ng-container>
                    <ng-container *ngIf="!!currentRisk && currentRisk === -1">
                        <h1 class="big-title-number">N/A</h1>
                    </ng-container>
                    <ng-container *ngIf="currentRisk === null">
                        <h1 class="big-title-number">N/A</h1>
                    </ng-container>
                </div>

                <ng-container *ngIf="threatView">
                    <div class="col-12 text-center my-2">
                        <h4 class="mid-title">Amenaza</h4>
                        <h3 class="mid-title-number" *ngIf="!!threat && threat > 0">
                            {{ threat * 100 | number:'1.1-1' }}%
                        </h3>
                        <h3 class="mid-title-number" *ngIf="!!threat && threat === 0">
                            0
                        </h3>
                        <h3 class="mid-title-number" *ngIf="!!threat && threat < 0">
                            N/A
                        </h3>
                        <h3 class="mid-title-number" *ngIf="threat === null">
                            N/A
                        </h3>
                    </div>

                    <div class="col-12 mt-2 px-0 categoria proc-bioseguridad" *ngIf="viewBIO">
                        <div class="col-4 number">{{ catBioseguridad * 100 | number:'1.1-1' }}%</div>
                        <div class="col-2 icon">
                            <img src="../../../assets/icons/icon-4.svg" alt="Bioseguridad">
                        </div>
                        <div class="col-6 title">
                            <span>Categoría</span>
                            <h4 class="tiny-title">
                                Bioseguridad
                            </h4>
                        </div>
                    </div>

                    <div class="col-12 mt-2 px-0 categoria proc-manejo-san" *ngIf="viewSAN">
                        <div class="col-4 number">{{ catManejoSanitario * 100 | number:'1.1-1' }}%</div>
                        <div class="col-2 icon">
                            <img src="../../../assets/icons/icon-7.svg" alt="Manejo Sanitario">
                        </div>
                        <div class="col-6 title">
                            <span>Categoría</span>
                            <h4 class="tiny-title">
                                Manejo Sanitario
                            </h4>
                        </div>
                    </div>


                    <div class="col-12 mt-2 px-0 categoria proc-movilizacion" *ngIf="viewMOV">
                        <div class="col-4 number">{{ catMovilizacion * 100 | number:'1.1-1' }}%</div>
                        <div class="col-2 icon">
                            <img src="../../../assets/icons/icon-5.svg" alt="Movilización">
                        </div>
                        <div class="col-6 title">
                            <span>Categoría</span>
                            <h4 class="tiny-title">
                                Movilización
                            </h4>
                        </div>
                    </div>

                </ng-container>

                <ng-container *ngIf="vulnerabilityView">
                    <div class="col-12 text-center my-2">
                        <h4 class="mid-title">Vulnerabilidad</h4>
                        <h3 class="mid-title-number" *ngIf="!!vulnerability && vulnerability !== -1">
                            {{ vulnerability * 100 | number:'1.1-1' }}%
                        </h3>
                        <h3 class="mid-title-number" *ngIf="!!vulnerability && vulnerability === -1">
                            N/A
                        </h3>
                        <h3 class="mid-title-number" *ngIf="vulnerability === null">
                            N/A
                        </h3>
                    </div>
                    <div class="col-12 mt-2 px-0 categoria proc-productivo" *ngIf="viewPRO">
                        <div class="col-4 number">{{ catProcesoProductivo * 100 | number:'1.1-1' }}%</div>
                        <div class="col-2 icon">
                            <img src="../../../assets/icons/icon-1.svg" alt="Proceso Productivo">
                        </div>
                        <div class="col-6 title">
                            <span>Categoría</span>
                            <h4 class="tiny-title">
                                Proceso Productivo
                            </h4>
                        </div>
                    </div>
                    <div class="col-12 mt-2 px-0 categoria proc-biofisico" *ngIf="viewEBI">
                        <div class="col-4 number">{{ catEspacioBiofisico * 100 | number:'1.1-1' }}%</div>
                        <div class="col-2 icon">
                            <img src="../../../assets/icons/icon-2.svg" alt="Espacio Biofísico">
                        </div>
                        <div class="col-6 title">
                            <span>Categoría</span>
                            <h4 class="tiny-title">
                                Espacio Biofísico
                            </h4>
                        </div>
                    </div>
                    <div class="col-12 mt-2 px-0 categoria proc-biofisico-amb" *ngIf="viewEBA">
                        <div class="col-4 number">{{ catEntornoBiosifico * 100 | number:'1.1-1' }}%</div>
                        <div class="col-2 icon">
                            <img src="../../../assets/icons/icon-3.svg" alt="Entorno Biofísico-Ambiental">
                        </div>
                        <div class="col-6 title">
                            <span>Categoría</span>
                            <h4 class="tiny-title">
                                Entorno<br>Biofísico-Ambiental
                            </h4>
                        </div>
                    </div>

                    <div class="col-12 mt-2 px-0 categoria proc-socio-ec" *ngIf="viewESO">
                        <div class="col-4 number">{{ catSocioEconomico * 100 | number:'1.1-1' }}%</div>
                        <div class="col-2 icon">
                            <img src="../../../assets/icons/icon-6.svg" alt="Entorno Socio-Económico">
                        </div>
                        <div class="col-6 title">
                            <span>Categoría</span>
                            <h4 class="tiny-title">
                                Entorno<br>Socio-Económico
                            </h4>
                        </div>
                    </div>
                    <div class="col-12 mt-2 px-0 categoria proc-manejo-san" *ngIf="viewSAN">
                        <div class="col-4 number">{{ catManejoSanitario * 100 | number:'1.1-1' }}%</div>
                        <div class="col-2 icon">
                            <img src="../../../assets/icons/icon-7.svg" alt="Manejo Sanitario">
                        </div>
                        <div class="col-6 title">
                            <span>Categoría</span>
                            <h4 class="tiny-title">
                                Manejo Sanitario
                            </h4>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="riskWithData.length > 0">
                    <div class="risk-data-container">
                        <ul class="ul-risk-data">
                            <li *ngFor="let riskData of riskWithData">
                                <h4 class="name">{{ riskData.name }}</h4>
                                <span class="value">{{ riskData.categorieValue * 100 | number:'1.1-1' }}%</span>
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>

            <!-- <div class="row py-4">
                <div class="col-12 mb-4">
                    <mat-card class="map-card red">
                        <mat-card-content>
                            <h4 class="card-title">Nivel Amenaza Total</h4>
                        </mat-card-content>
                        <mat-card-content>
                            <h2 class="card-value">13.979.329</h2>
                            <h4 class="card-subtitle-value">Maximo</h4>
                        </mat-card-content>
                        <mat-card-content>
                            <h2 class="card-footer-value">
                                1.024.243
                            </h2>
                        </mat-card-content>
                        <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                    </mat-card>
                </div>

                <div class="col-12 mb-4">
                    <mat-card class="map-card blue">
                        <mat-card-content>
                            <h4 class="card-title">Probabilidad Amenaza Total</h4>
                        </mat-card-content>
                        <mat-card-content>
                            <h2 class="card-value">15.433.989</h2>
                            <h4 class="card-subtitle-value">Maximo</h4>
                        </mat-card-content>
                        <mat-card-content>
                            <h2 class="card-footer-value">
                                74.592
                            </h2>
                        </mat-card-content>
                      <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                    </mat-card>
                </div>

                <div class="col-12 mb-4">
                    <mat-card class="map-card pink">
                        <mat-card-content>
                            <h4 class="card-title">Riesgo Maximo</h4>
                        </mat-card-content>
                        <mat-card-content>
                            <h2 class="card-value">430.417</h2>
                            <h4 class="card-subtitle-value">Riesgo Minimo</h4>
                        </mat-card-content>
                        <mat-card-content>
                            <h2 class="card-footer-value">
                                2.383
                            </h2>
                        </mat-card-content>
                        <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                    </mat-card>
                </div>
            </div> -->
        </div>
    </div>
</div>