$background: transparent;
$easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);
$duration: 0.5s;

:host {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #404040;
}

.chart-container {
  margin-left: 24px;
  transition: all ease-in-out $duration;
}

.data-container {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-chart-container {
  width: calc(33.33vw + 24px);
  max-width: calc(340px + 24px);
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  transition: all ease-in-out $duration;

  &.closed {
    max-width: 24px;

    .chart-container {
      opacity: 0;
    }
  }
}

.map-card {
  border-radius: 0;
  padding: 16px;

  .card-title {
    color: #fff;
    font-weight: 100;
  }

  .card-value {
    font-weight: 400;
  }
  .card-subtitle-value {
    color: #fff;
    font-weight: 100;
  }
  .card-footer-value {
    color: #fff;
    font-weight: 300;
  }
}

.red {
  background-color: #b81b2c;

  .card-value {
    color: #e9dbae;
  }
}

.blue {
  background-color: #253364;

  .card-value {
    color: #2378af;
  }
}

.pink {
  background-color: #e86172;

  .card-value {
    color: #d52f45;
  }
}

.arrow-container {
  background-color: #0096ca;
  cursor: pointer;
  position: absolute;
  height: 100vh;
  transition: all ease-in-out 250ms;
  width: 24px;

  &:hover {
    background-color: #0097ca86;
  }
}

.arrow-icon {
  background-color: $background;
  height: 2.8em;
  width: 2.8em;
  display: block;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.arrow-icon {
  transform: scale(0.375) rotate(90deg);
  position: absolute;
  top: calc(50vh - 15px);
  left: -13px;
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.open {
  .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
  }
  .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
  }
}

.big-title {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 .75rem;
}

.big-title-number {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 1rem;
  min-height: 1.5rem;
}

.mid-title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.mid-title-number {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.text-center {
  text-align: center;
}
.categoria {
  display: flex;
  justify-content: center;
  align-items: center;

  .number {
    font-size: 2rem;
  }

  .icon {
    border-radius: 4px;
    padding: 4px;
    height: 42px;
    width: 42px;
    margin-right: 8px;
  }

  .title {
    text-align: left;

    span {
      font-size: 0.75rem;
    }

    .tiny-title {
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.25;
      margin: 0;
    }
  }

  &.proc-productivo {
    .icon {
      background-color: #c30c0c;
    }

    .title {
      color: #c30c0c;
    }
  }

  &.proc-biofisico {
    .icon {
      background-color: #072a51;
    }

    .title {
      color: #072a51;
    }
  }

  &.proc-biofisico-amb {
    .icon {
      background-color: #2bbdf3;
    }

    .title {
      color: #2bbdf3;
    }
  }

  &.proc-bioseguridad {
    .icon {
      background-color: #00b050;
    }

    .title {
      color: #00b050;
    }
  }

  &.proc-movilizacion {
    .icon {
      background-color: #97d258;
    }

    .title {
      color: #97d258;
    }
  }

  &.proc-socio-ec {
    .icon {
      background-color: #385723;
    }

    .title {
      color: #385723;
    }
  }

  &.proc-manejo-san {
    .icon {
      background-color: #ffc44f;
    }

    .title {
      color: #ffc44f;
    }
  }
}

.risk-data-container {
  max-height: 580px;
  overflow: auto;
}

.ul-risk-data {
  list-style: none;
  margin-top: 2rem;

  li {
    margin-bottom: 1rem;

    h4.name {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    span.value {
      font-size: 1.75rem;
    }
  }
}
