.full-screen {
  height: 100vw;
  min-height: 100vw;
  min-width: 100vw;
  overflow: hidden;
  width: 100vw;
}

.left-menu-container {
  background-color: #1e1e1e;
  padding: 0 !important;
}

.z-10 {
  z-index: 10;
}


app-controls {
 position: fixed;
 top: 0; 
 left: 0;
}